
* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }

body {
     font-family: 'Josefin Sans', sans-serif;
     background: #F5F5F5;

}

/*stilizare nav-bar*/
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}
/*daca fereastra are mai putin de 1000px, meniul va fi inlocuit cu o iconita*/
@media screen and (min-width: 1000px) {
.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav li {
    margin: 0;
}

.nav-links {
    margin-left: 40px;
}

.logo {
    margin-top: 0;
}

.navbar-toggle {
    display: none;
}

.logo:hover,
.nav-links:hover {
    color: rgba(255, 255, 255, 1);

}

}
/*stilizare iconite sidebar*/
#image {
font-size: 20px;
color: grey;
min-width: 50px;
}
/*stilizare sidebar*/
.sidebar {
margin: 0;
padding: 0;
width: 250px;
background-color: #ffffff;
position: fixed;
height: 90%;
overflow: hidden;
}
/*stilizare text sidebar*/
.sidebar a {
display: block;
color: black;
padding: 16px;
padding-left: 30px;
text-decoration: none;
}
.sidebar a.active {
background-color: #6495ED;
color: white;
}
/*cand dam click, hover-ul a ramane blocat*/
.sidebar a:focus{
background-color: #6495ED;
color: white;
}

.sidebar a:hover {
background-color: #6495ED;
color: white;
}
/*adaugam bara de scroll sidebar-ului*/
#sidebar:hover {
overflow-y: scroll;
}

/*stilizam bara de scroll*/
#sidebar::-webkit-scrollbar {
width: 8px;
display: block;
}

#sidebar::-webkit-scrollbar-track {
background: #f1f1f1;
}

#sidebar::-webkit-scrollbar-thumb {
background: #D3D3D3;
}
/*aici va fi continutul paginii*/
div.content {

}

.flex-container {
overflow: auto;
}

.comentarii {
  margin-left:300px;
  margin-right: 0;
  margin-top:50px;

}

.news-list   {
  padding: 20px;
  list-style: none;
}

.news-list__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #c8c9cc;
  margin-bottom: 10px;
}

.news-list__item button {
  background-color: #ebe0d6;
  width: 150px;
  color: grey;
  font-weight: 90;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: 0.3s ease 0s;
  text-transform: uppercase;
}

.news-list__item button:hover{
  letter-spacing: 3px;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.statistici{
  margin-left:300px;
  margin-right: 0;
  margin-top:50px;
}

.statistici p{
  margin: 25px;
  font-size: 18px;
}

.statistici Button{
  width: 100px;
  height: 25px;
  background-color: #6699ff;
  color: black;
  letter-spacing: 3px;

}
